<!-- {% extends 'main.html' %} -->
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/new_signup.css' %}" />
<style>

</style>
{% endblock %}

{% block content %}
    <div class="signup-container">
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <img src="{% static 'images/mitra.png' %}" alt="Your Logo">
        <form id="signup-form" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" autocomplete="off" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" autocomplete="off" required>

            <button type="submit">Sign in</button>
        </form>
        <div class="admin_box">
            <a href="{% url 'signup' %}" style="text-decoration:none;color:black;">
                <h6>Not User Yet? Sign up </h6>
            </a>
        </div>
        <!--        Admin Page-->

<!--        <div class="admin_box">-->
<!--            <a href="/admin" style="text-decoration:none;color:black;">-->
<!--                <h6>Admin Page</h6>-->
<!--            </a>-->
<!--        </div>-->
    </div>

{% endblock %}