<!-- {% extends 'main.html' %} -->
{% load static %} 
{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/signup.scss' %}" />
<style>
.messages {
            list-style: none;
            padding: 10px;
            margin: 0;
            background-color: #ffe6e6; /* Light red background color */
            color: #ff0000; /* Red text color */
            border: 1px solid #ff6666; /* Darker red border */
            border-radius: 5px; /* Rounded corners */
        }
</style>
{% endblock %}

{% block content %} 
<div class="container" id="container">

<div class="form-container sign-in-container">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <h1 style="color:rgb(107,76,230)" style="position:relative;bottom:15px;">Sign Up</h1>
        <input type="text" placeholder="Username" name="username" id="username" autocomplete="off" />
        <br>
        <input type="email" placeholder="Email" name="email" id="email" autocomplete="off"/>
        <br>
        <input type="password" placeholder="Password" name="password" id="password" autocomplete="off" />
        <br>
        <button>Sign Up</button>
    </form>

</div>
<div class="overlay-container">
    <div class="overlay">
        <div class="overlay-panel overlay-left">
            <h1>Welcome Back User!</h1>
            <p>Login to stay connected</p>
            <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
            <h1>Already a User?</h1>
            <p>Enter your personal details to Sign In</p>
              <a class="ghost" href="{% url 'login' %}" style="text-decoration:none;color:#fff;">
                Login
                </a>
        </div>
    </div>
</div>
</div>

{% endblock %}